﻿@model IEnumerable<SistemaRestaurante.BusinessEntity.Categoria>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IdCategoria
        </th>
        <th>
            Nombre
        </th>
        <th>
            Imagen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idCategoria = item.IdCategoria }) |
            @Html.ActionLink("Details", "Details", new { idCategoria = item.IdCategoria }) |
            @Html.ActionLink("Delete", "Delete", new { idCategoria = item.IdCategoria })
        </td>
    </tr>
}

</table>
